[Desktop Entry]
Type=Application
Name=SpeedCrunch
Exec=speedcrunch
Icon=speedcrunch
Comment=A high-precision scientific calculator
Categories=Qt;Utility;Calculator;
Keywords=arithmetic;calculation;math;scientific;
